datasets>=3.6.0
duckduckgo-search>=8.0.4
faiss-cpu>=1.11.0
fsspec==2025.3.2
huggingface-hub>=0.31.2
langchain-community>=0.3.26
langchain>=0.3.26
litellm>=1.74.0
openai>=1.93.0
pydantic-settings>=2.10.1
sentence-transformers>=5.0.0
smolagents>=1.21.3
